@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: white;
}

.trainer-title {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
  border-style: double;
  text-align: center;
  /* vertical-align: middle; */
}
.card-title {
  font-size: 40px;
  font-style: bold;
}

.add-trainer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  top: 100px;
  margin-top: 15px;
  margin-left: 40%;
  text-align: center;
  font-size: 20px;
}

.add-pokemon {
  top: 10px;
  left: 100px;
  text-align: left;
  color: beige;
  padding: 4px;
  margin-top: 30px;
  background-color: darkgreen;
}

.pokemon-title {
  margin-top: 10px;
  text-align: center;
  font-size: 23px;
  font-style: bold;
  color: black;
}

.poke-id {
  text-align: center;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: royalblue;
}
.navbar .links {
  margin-left: auto;
  font-size: 15px;
}

.navbar a:hover {
  color: royalblue;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.enter-name {
  text-align: center;
  place-items: center;
  margin-top: 10px;
}

.add-trainer-title {
  text-align: center;
}

.add-trainer-button {
  text-align: center;
  margin-top: 30px;
}

.form {
  height: 660px;
}

.add-poke-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-poke-title {
  padding-top: 20px;
  display: flex;
  align-items: ceter;
  justify-content: center;
}

.add-poke-btn {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: red;
  color: white;
  margin-top: 40px;
}

.input-field {
  padding-top: 50px;
}

.btn-div {
  display: flex;
  align-items: ceter;
  justify-content: center;
}

.pokemon-disp {
  font-size: 18px;
  margin-top: 20px;
  border-style: solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(221, 217, 217);
}

.dlt-pokemon {
  background-color: rgb(221, 217, 217);
}

.myButton {
  box-shadow: inset 0px 11px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 6px;
  border: 3px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 4px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.myButton:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.search-trainer-btn {
  top: 100px;
  margin-top: 10px;
  margin-left: 100px;
  box-shadow: inset -3px -8px 7px 0px #134f94;
  background: linear-gradient(to bottom, #22b6e3 5%, #0091ff 100%);
  background-color: #22b6e3;
  border-radius: 9px;
  border: 3px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 13px;
  text-decoration: none;
  text-shadow: 1px 2px 0px #0d010d;
}
.search-trainer-btn:hover {
  background: linear-gradient(to bottom, #0091ff 5%, #22b6e3 100%);
  background-color: #0091ff;
}
.search-trainer-btn:active {
  position: relative;
  top: 1px;
}

.add-trainer-btn {
  top: 100px;
  margin-top: 15px;
  margin-left: 40%;
  text-align: center;
  box-shadow: inset -3px -8px 7px 0px #8a3030;
  background: linear-gradient(to bottom, #ff0000 5%, #ff0000 100%);
  background-color: #ff0000;
  border-radius: 9px;
  border: 3px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 13px;
  text-decoration: none;
  text-shadow: 1px 2px 0px #000000;
}
.add-trainer-btn:hover {
  background: linear-gradient(to bottom, #ff0000 5%, #ff0000 100%);
  background-color: #ff0000;
}
.add-trainer-btn:active {
  position: relative;
  top: 1px;
}

.add-pokemon-btn {
  top: 10px;
  left: 100px;
  text-align: left;
  padding: 4px;
  margin-top: 30px;
  box-shadow: inset -3px -8px 7px 0px #027521;
  background: linear-gradient(to bottom, #30d93e 5%, #38c211 100%);
  background-color: #30d93e;
  border-radius: 9px;
  border: 3px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  padding: 11px 13px;
  text-decoration: none;
  text-shadow: 1px 2px 0px #0d010d;
}
.add-pokemon-btn:hover {
  background: linear-gradient(to bottom, #38c211 5%, #30d93e 100%);
  background-color: #38c211;
}

.delete-trn-btn {
  box-shadow: 3px 4px 0px 0px #000000;
  background: linear-gradient(to bottom, #ff0000 5%, #ff0d0d 100%);
  background-color: #ff0000;
  border-radius: 18px;
  border: 1px solid #141114;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 6px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #0a0a0a;
}
.delete-trn-btn:hover {
  background: linear-gradient(to bottom, #ff0d0d 5%, #ff0000 100%);
  background-color: #ff0d0d;
}
.delete-trn-btn:active {
  position: relative;
  top: 1px;
}

.trainer-input-field {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.trainer-search-btn {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: greenyellow;
  color: black;
  margin-top: 15px;
  margin-left: 350px;
  margin-bottom: 50px;
}

.search-trainer-title {
  padding-top: 60px;
  display: flex;
  padding: 20px;
  align-items: ceter;
  justify-content: center;
}
.result-title {
  display: flex;
  padding: 20px;
  align-items: ceter;
  justify-content: center;
}
.result {
  font-size: 20px;
  display: flex;
  align-items: ceter;
  justify-content: center;
}
